/* main header */
#logoTop {
	padding:10px 0 25px 0;
}

#enterTop {
	padding:10px 0 25px 0;
}


/* man navigation float */
#NavBlock {
	position: relative;
}

/* main navigation  STICKY */
#sticky {
	height:50px;
	width:100%;
	z-index: 1;
	background:#1d1d1d;
	border-top:1px dotted #888;
	border-bottom:1px dotted #888;
	padding-bottom:26px;
}

#sticky.stick {
	width:100%;
	height:50px;
	position: fixed;
	top: 0;
	z-index: 1;
}

#nav li {
	display: inline;
	padding:0 5px;
	white-space:nowrap; /* if text links */
}
#nav li a {
	text-decoration: none;
	font-style: italic;
	display:inline-block;
	padding:29px 0;
	color:#b4a186;
}
#nav li a:hover {
	color:#fff;
}
#nav li a.on {
/* 	border-bottom: 1px dotted #fff; */
	background: transparent url(../_img/_bgs/nav_highlight_bg.jpg) 0 27px repeat-x;
	color:#fff;
}
#nav li a#toTop {
	background: transparent url(../_img/_bgs/top_icon.jpg) 0 15px no-repeat;
	width:50px;
}

/* About section */
a h5:hover {
	color: #E8DCCA;
	cursor: pointer;
}

/* all containers */
.container {
	padding-bottom: 5px;
}
.nopad {
	padding-bottom: 0;
	margin-bottom: 0;
}

.padding {
	margin-top: -60px;
	height: 60px;
}

/* header divider's */

.divHeader, .divHeaderTop {
	border-top:1px dotted #888;
	border-bottom:1px dotted #888;
	padding:35px 0 20px 0;
}
.divHeaderTop {
	border-top:0;
}
h1 ins {
	color:#fff;
	text-decoration: none !important;
	position: relative;
	top:3px;
}
h1 span {
	color:#fff;
	font-style: italic;
}


/* 	faq section - so math works correctly based on viewport, not hidden content  */
#fqSection {
	overflow: hidden;
}

/* round images */
.circular {
	width: 230px;
	height: 230px;
	border-radius: 115px;
	-webkit-border-radius: 115px;
	-moz-border-radius: 115px;
	margin: 0 auto!important;
}

.circleStroke {
	position: relative;
	margin: 0 auto!important;
	width: 230px;
	height: 230px;
	border-radius: 115px;
	-webkit-border-radius: 115px;
	-moz-border-radius: 115px;
	background:#fff;
	padding:2px;
}

.circularSm {
	width: 190px;
	height: 190px;
	border-radius: 95px;
	-webkit-border-radius: 95px;
	-moz-border-radius: 95px;
	margin: 0 auto!important;
}

.circleStrokeSm {
	position: relative;
	margin: 0 auto!important;
	width: 190px;
	height: 190px;
	border-radius: 95px;
	-webkit-border-radius: 95px;
	-moz-border-radius: 95px;
	background:#fff;
	padding:2px;
}

/* footer */
.footer {
	padding-top:30px;
	font-size:90%;
}

#footer {
	color:#5f5f5f;
	padding-bottom:15px;
	font-size:90%;
}

.circleStroke a img:hover {
	opacity: 0.75;
}


/* misc */
.hide {
	display:none;
}

.hrFull {
	border-top:1px dotted #888;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
}
.clear {
	clear:both;
}

.description {
	display: none;
	width: 600px;
}

.question:hover {
	color: #b4a186;
	cursor: pointer;
}

h6, h5, h4
{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}